body {
    background              : url("../images/login_fondo.jpg") no-repeat;
    -webkit-background-size : cover;
    -moz-background-size    : cover;
    -o-background-size      : cover;
    background-size         : cover;
}

.container {
    border : none;
}

.img-login {
    width         : 150px;
    margin-bottom : 20px;
}

.lzm-tab-body {
    text-align : center;
}

.input-login {
    margin-bottom : 10px;
}